{% extends "base.html" %}

{% block content %}
<div class="container">
    {% if res['Reservations'] != [] %}
    <div class="row card-panel hoverable blue lighten-2 ">
        {% for ins in res['Reservations'][0]['Instances'] %}
        <div class=" col s12">
            <ul class="tabs">
                <li class="tab col s4"><a href="#test1">Instance ID</a></li>
                <li class="tab col s4"><a href="#test2">Instance Type</a></li>
                <li class="tab col s4"><a href="#test3">State</a></li>
            </ul>
        </div>

        <div id="test1" class="col s12">{{ ins['InstanceId']}}</div>
        <div id="test2" class="col s12">{{ ins['InstanceType']}}</div>
        <div id="test3" class="col s12">{{ ins['State']['Name'] }}</div>
        {% endfor %}
    </div>
    {% else %}
    No instance is running
    {% endif %}
</div>

<script>
    $(document).ready(function () {
        $('.sidenav').sidenav();
        $('.dropdown-trigger').dropdown();

    });
</script>
{% endblock %}