{% extends "base.html" %}

{% block content %}
<div class="container">
    <h3>S3 Buckets and its files</h3>
    <ul class="collapsible popout">
        {% for bucketName, objList in res.items() %}
        <li>
            <div class="collapsible-header"><i class="material-icons">filter_drama</i>{{ bucketName }}</div>
            <div class="collapsible-body">
                {% if objList == [] %}
                <span>No Files are there in this bucket</span>
                {% else %}
                <ol>
                    {% for obj in objList %}
                    {% if not obj.endswith('/') %}
                    <li>{{ obj }}</li>
                    {% endif %}
                    {% endfor %}
                </ol>
                {% endif %}
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}